DB_USER=
DB_PWD=


DB_NAME=
DB_HOST=db
DB_PORT=5432

LLM_USER=
LLM_PWD=

REDIS_HOST=redis
REDIS_PORT=6379

SECRET_KEY=...


S3_ENDPOINT=http://minio:9000   # only for minio
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_PUBLIC_URL=   # the adresse ip of your computer



# supported llm provider i implement
OPENAI_KEY=
OLLAMA_URL=
CEREBRAS_KEY=
GROQ_KEY=

# AUTO DON'T tOUCH THESES

DB_URI=postgresql://${DB_USER}:${DB_PWD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

LLM_DB_URI=postgresql://${LLM_USER}:${LLM_PWD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

REDIS_DB_URI=redis://${REDIS_HOST}:${REDIS_PORT}